<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - All Racers</title>
</head>
<body>

<h2>All Registered Racers (Admin)</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Reg No</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Village</th>
    </tr>

    <tr th:each="r : ${racers}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.registrationNumber}"></td>
        <td th:text="${r.racerName}"></td>
        <td th:text="${r.phoneNumber}"></td>
        <td th:text="${r.village}"></td>
    </tr>

</table>

<br>
<a th:href="@{/admin/dashboard}">Back to Dashboard</a>
<br>
<a th:href="@{/logout}">Logout</a>

</body>
</html>