<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Racers</title>
</head>
<body>

<h2>Registered Racers</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Registration Number</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Village</th>
    </tr>

    <tr th:each="r : ${racers}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.registrationNumber}"></td>
        <td th:text="${r.racerName}"></td>
        <td th:text="${r.phoneNumber}"></td>
        <td th:text="${r.village}"></td>
    </tr>
</table>

<br>
<a href="/registration">Register New Racer</a>

<div style="text-align:right;">
    <button onclick="switchLanguage('en')">English</button>
    <button onclick="switchLanguage('mr')">मराठी</button>
</div>

<script>
    function switchLanguage(lang){
        if(lang==='mr'){
            document.querySelector("h2").innerText="नोंदणीकृत स्पर्धक";
            document.querySelectorAll("th")[1].innerText="नोंदणी क्रमांक";
            document.querySelectorAll("th")[2].innerText="नाव";
            document.querySelectorAll("th")[3].innerText="फोन";
            document.querySelectorAll("th")[4].innerText="गाव";
            document.querySelector("a").innerText="नवीन नोंदणी करा";
        }else{
            document.querySelector("h2").innerText="Registered Racers";
            document.querySelectorAll("th")[1].innerText="Registration Number";
            document.querySelectorAll("th")[2].innerText="Name";
            document.querySelectorAll("th")[3].innerText="Phone";
            document.querySelectorAll("th")[4].innerText="Village";
            document.querySelector("a").innerText="Register New Racer";
        }
    }
</script>

</body>
</html>
